Django>=5.2,<6.0
dj-database-url>=1.0,<2.0
python-dotenv>=1.0
psycopg2-binary>=2.9
whitenoise>=6.5
gunicorn>=20.1
requests>=2.31,<3.0
django-allauth[socialaccount,mfa]>=65.7,<66.0
Pillow>=12.0,<13.0
sentry-sdk>=2.0,<3.0
django-csp>=4.0,<5.0
